<header class="bg-white shadow">
  <p class="text-center py-4">めざせ！全国制覇！</p>
  <nav class="flex items-center justify-between p-4">
    <%= link_to 'ホーム', '/', class: 'text-xl font-bold' %>

    <div class="relative">
      <button class="flex items-center bg-gray-200 p-2 rounded-lg focus:outline-none" id="navbarToggle">
        <span class="material-icons">menu</span>
      </button>
      
      <div class="hidden absolute right-0 w-48 mt-2 bg-white shadow-lg rounded-lg" id="navbarDropdown">
        <ul class="py-2">
          <li>
            <%= link_to '掲示板', '#', class: 'block px-4 py-2 text-gray-800 hover:bg-gray-200' %>
          </li>
          <li>
            <%= link_to '掲示板一覧', '#', class: 'block px-4 py-2 text-gray-800 hover:bg-gray-200' %>
          </li>
          <li>
            <%= link_to '掲示板作成', '#', class: 'block px-4 py-2 text-gray-800 hover:bg-gray-200' %>
          </li>
        </ul>
      </div>
    </div>

    <ul class="flex space-x-4">
      <li class="relative">
        <%= link_to '#', class: 'text-gray-800 hover:text-blue-500' do %>
          プロフィール
        <% end %>
        <div class="hidden absolute right-0 w-48 mt-2 bg-white shadow-lg rounded-lg" id="profileDropdown">
          <div class="py-2">
            <div class="px-4 py-2">らんてっく たろう</div>
            <div class="border-t"></div>
            <%= link_to 'プロフィール', '#', class: 'block px-4 py-2 text-gray-800 hover:bg-gray-200' %>
            <%= link_to 'ログアウト', '#', class: 'block px-4 py-2 text-gray-800 hover:bg-gray-200' %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>