<!--記録の詳細表示-->
<div class="container mx-auto pt-5 ">
  <div>
    <div class="w-full lg:w-2/3 mx-auto">
      <h1 class="text-2xl font-bold text-center">記録詳細</h1>
      <%= link_to '一覧に戻る', records_path, class: "text-black hover:text-orange-600" %>
        <div class="p-4 record-border">
          <div>
            <div>
              <!--ここに都道府県を入れたい→ループ表示させる-->
              <% @record.prefectures.each do |prefecture| %>
                <span class="text-sm font-medium text-orange-600"><%= prefecture.name %></span> 
              <% end %></br>
              <ul class="flex space-x-8 justify-end">
                  <li>
                    <%= link_to '編集', edit_record_path(@record), class: "text-gray-700 hover:text-orange-600" %>
                  </li>
                  <li>
                    <%= link_to '削除', record_path(@record) , class: "text-gray-700 hover:text-orange-600" , data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
                  </li>
              </ul></br>
              <h3 class="inline text-xl font-semibold"><%= @record.title %></h3>
                <ul>
                  <li><%= @record.date ? l(@record.date, format: :long) : '' %></li>
                </ul>
                <% if current_user.id == @record.user_id %>
                  <%= simple_format(@record.body) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
