<!--記録の詳細表示-->
<div class="container mx-auto pt-5">
  <div class="mb-3">
    <div class="w-full lg:w-2/3 mx-auto">
      <h1 class="text-2xl font-bold">記録詳細</h1>
      <article class="bg-white shadow-md rounded-lg">
        <div class="p-4">
          <div class="flex">
            <div class="w-2/3 pl-4">
              <h3 class="inline text-xl font-semibold"><%= @record.title %></h3>
              <ul class="flex space-x-4">
                <li><%= "by #{@record.user.name}" %></li>
                <li><%= l @record.created_at, format: :long %></li>
              </ul>
              <div class='flex justify-end'>
                <%= link_to "#", id: "button-edit-#{@record.id}" do %>
                  <i class='bi bi-pencil-fill'></i>
                <% end %>
                <%= link_to "#", id: "button-delete-#{@record.id}", class: "ml-2" do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
            </div>
          </div>
          <p class="mt-4"><%= simple_format(@record.body) %></p>
        </div>
      </article>
    </div>
  </div>
  <%# コメントフォーム %>
  <div class="mb-5">
    <div class="w-full lg:w-2/3 mx-auto">
      <table class="table-auto w-full">
        <tbody id="table-comment">
          <%# コメント一覧 %>
        </tbody>
      </table>
    </div>
  </div>
</div>